
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/login">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/addFuncionarios">Carregar Funcinários</a>
      </li>     
      <li class="nav-item">
        <a class="nav-link" href="/formulario">Criar Formulario</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " href="/funcionariosList">Listar Funcionarios</a>
      </li>  
             
    </ul>  
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" (click)="logout()">Sair</button>
  </div>
</nav>