        <div class="card">
          <h6 class="card-header">
            <p>1- Orientação para o cliente - Encantar sempre Capacidade para atuar voltado para a satisfação das necessidades
              dos clientes internos e externos, buscando antecipar e identificar suas exigências de forma ágil e melhor,
              quando comparado a referências de excelência. Identifica ações internas e externas que impactam na área, processo,
              negócio e cliente.
            </p>
          </h6>
          <div class="card-block">
            <div class="form-group">
              <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
          </div>
        </div>